<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ESSENTIAL -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0e1414">
    <meta name="description" content="Discover the latest breakthroughs in organic nutrition on AEG. Explore news on wholesome, organic foods that have the power to reverse the impact of artificial flavorings. Stay informed about a healthier lifestyle and sustainable choices for a tastier and more nourishing culinary experience.">
    <meta name="keywords" content="aeg, healthy, lifestyle, organic, food, nutrients, ingredients">

    <!-- GENERAL -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- prettier-ignore -->
    <link rel="manifest" href=<%= htmlWebpackPlugin.options.manifest %>
    />
    <!-- prettier-ignore -->
    <link rel="icon" sizes="192x192" href=<%= htmlWebpackPlugin.options.icon192 %>
    />
    <!-- prettier-ignore -->
    <link rel="icon" sizes="512x512" href=<%= htmlWebpackPlugin.options.icon512 %>
    />

    <!-- GOOGLE -->
    <meta name="rating" content="General" />
    <meta name="robots" content="index,follow" />
    <!-- prettier-ignore -->
    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap"
      href=<%= htmlWebpackPlugin.options.sitemap %>
    />
    <meta
      name="google-site-verification"
      content="43hCqye5FYTS4SnBMPKNFP-wBhfLHwRBykWJF1WJawo"
    />

    <!-- iOS -->
    <!-- prettier-ignore -->
    <link rel="apple-touch-icon" href=<%= htmlWebpackPlugin.options.icon512 %>
    />
    <!-- prettier-ignore -->
    <link rel="mask-icon" href=<%= htmlWebpackPlugin.options.icon512 %>
    color="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- ANDROID -->
    <meta name="theme-color" content="#000" />
    <meta name="mobile-web-app-capable" content="yes" />

  </head>

  <body>
    <noscript class="text-center text-lg text-red-500">
      Enable JavaScript to enjoy all the features of this app.
    </noscript>
    <main
      id="main"
      class="flex h-screen flex-col items-center justify-center bg-primary text-color"
    >
    </main>
  </body>
</html>
